# üß† Topic 1: Hello World
This notebook contains basic Python print statement practice questions and solutions.

### 1Ô∏è‚É£ Question 1: Print 'Hello, World!'

In [ ]:
print("Hello, World!")

### 2Ô∏è‚É£ Question 2: Print your name and a short introduction

In [ ]:
print("My name is Leeladhar, I am learning Python.")

### 3Ô∏è‚É£ Question 3: Print multiple statements in one line using `;`

In [ ]:
print("Hello"); print("Welcome to Python programming!")

### 4Ô∏è‚É£ Question 4: Try printing with different quote styles

In [ ]:
print('This is a single-quoted string')
print("This is a double-quoted string")
print('''This is a triple-quoted string''')

### 5Ô∏è‚É£ Question 5: Print special characters like `\n` and `\t`

In [ ]:
print("Hello\nWorld")
print("Hello\tWorld")

### 6Ô∏è‚É£ Question 6: Use `print()` with multiple arguments

In [ ]:
name = "Leeladhar"
age = 21
print("Name:", name, "Age:", age)