# üßÆ Topic 2: Variables
This notebook covers Python variable concepts with solved examples.

### 1Ô∏è‚É£ Question 1: Create variables for your name, age, and city ‚Äî print them

In [ ]:
name = "Leeladhar"
age = 21
city = "Delhi"
print("Name:", name)
print("Age:", age)
print("City:", city)

### 2Ô∏è‚É£ Question 2: Swap values of two variables without using a third variable

In [ ]:
a = 5
b = 10
a, b = b, a
print("After swapping: a =", a, ", b =", b)

### 3Ô∏è‚É£ Question 3: Assign the same value to multiple variables in one line

In [ ]:
x = y = z = 100
print(x, y, z)

### 4Ô∏è‚É£ Question 4: Create variables with valid and invalid names ‚Äî observe errors

In [ ]:
# Valid names
number1 = 10
_name = "valid"

# Invalid names (will cause errors if uncommented)
# 1number = 10  # invalid
# my-variable = 20  # invalid

### 5Ô∏è‚É£ Question 5: Take user input for name and age, then print them

In [ ]:
name = input("Enter your name: ")
age = input("Enter your age: ")
print("Hello", name + "!", "You are", age, "years old.")

### 6Ô∏è‚É£ Question 6: Use `type()` to print data types of different variables

In [ ]:
x = 10
y = 5.5
z = "Python"
a = True
print(type(x))
print(type(y))
print(type(z))
print(type(a))

### 7Ô∏è‚É£ Question 7: Update a variable value and print both old and new values

In [ ]:
price = 100
print("Old Price:", price)
price = 120
print("Updated Price:", price)