# üî¢ Topic 3: Data Types
This notebook explores different Python data types with examples.

### 1Ô∏è‚É£ Question 1: Create examples for all basic data types

In [ ]:
integer_num = 10
float_num = 3.14
string_text = "Hello"
boolean_val = True
list_data = [1, 2, 3, 4, 5]
tuple_data = (10, 20, 30)
set_data = {1, 2, 2, 3, 4}
dict_data = {"name": "Leeladhar", "age": 21, "city": "Delhi"}
print(integer_num, float_num, string_text, boolean_val, list_data, tuple_data, set_data, dict_data)

### 2Ô∏è‚É£ Question 2: Check the type of a variable using `type()`

In [ ]:
x = 42
print(type(x))

### 3Ô∏è‚É£ Question 3: Convert one data type to another

In [ ]:
x = 10
y = str(x)
z = float(x)
print("String:", y, type(y))
print("Float:", z, type(z))

### 4Ô∏è‚É£ Question 4: Create a dictionary and print its values

In [ ]:
person = {"name": "Leeladhar", "age": 21, "city": "Delhi"}
print("Name:", person["name"])
print("Age:", person["age"])
print("City:", person["city"])

### 5Ô∏è‚É£ Question 5: Make a list of 5 numbers and find max, min, and sum

In [ ]:
numbers = [10, 20, 30, 40, 50]
print("Max:", max(numbers))
print("Min:", min(numbers))
print("Sum:", sum(numbers))

### 6Ô∏è‚É£ Question 6: Create a tuple and try modifying it

In [ ]:
my_tuple = (1, 2, 3)
# my_tuple[0] = 10  # Uncommenting this will cause an error
print("Tuples are immutable:", my_tuple)

### 7Ô∏è‚É£ Question 7: Create a set with duplicate elements

In [ ]:
my_set = {1, 2, 2, 3, 4, 4}
print("Set (duplicates removed):", my_set)